Package: python3-nanodoc
Version: 0.3.1-1
Architecture: all
Maintainer: Arthur Debert <maintainer@example.com>
Section: python
Priority: optional
Depends: python3 (>= 3.7)
Homepage: https://github.com/arthur-debert/nanodoc/
Description: A minimalist document bundler designed for stitching hints, reminders and short docs.
 A minimalist document bundler designed for stitching hints, reminders and short
 docs.
